@font-face {
    font-family: pebbleRegular;
    src: url(../res/fonts/pfdindisplaypro-regular.ttf);
}

.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

div {
    color: rgb(255, 255, 255);
}

body{
  background-color: rgb(50, 50, 50);
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: pebbleRegular;

}

#card{
  margin-top: 16px;
  border-radius: 8px;
  background-color: rgb(71, 71, 71);
}

p.section_text{
  margin-left: 16px;
}



p.right_align{
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-right: 16px;

}

.row_amt{
  display: flex;
  justify-content: space-between;
}

/*.text_outline{
  background-color: rgb(65, 65, 65);
  margin-right: 16px;
  border-radius: 8px;
}*/





#header{
  background-color: rgb(65, 65, 65);
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
