.textinput{
  margin-left: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  width: calc(100% - 48px); // 32 = right margin + left margin
  color: white;
  background-color: rgb(50, 50, 50);
  font-family: pebbleRegular;
  font-size: 12pt;
}

.textinput_holder{
  margin-top: 16px;
  flex: 1;
}
