/*******************RANGES************************/


#rangetext, #endtime, #starttime{
  /*float: left;*/
  display: inline-block;
  margin-left: 16px;
  margin-top: 16px;
}

 #endtime, #starttime{
  background-color:rgb(65, 65, 65);
  border: none;
  padding: 4px;
  margin-top: 12px;
  border-radius: 8px;
  color: white;
 }

 #range_row{
   /*float: left;*/
   display: inline-block;
   background-color: rgb(65, 65, 65);
   position: relative;
   width: 125px;
   margin-left: 16px;
   margin-top: 8px;
 }

  #range_row select{
   display: none; /*hide original SELECT element:*/
 }

 .range{
   display: block;
 }

.range_holder{
  overflow:visible;
}

.divender{
  float: none;
  display: block;
  position: relative;
}

/*******************BUTTON************************/

#add_range_button{
  display: block;
  width: 200px;
  margin: 16px auto;
}

.addrangeholder{
  overflow: auto;
}


/*******************HEADER************************/

#time_header{
  /*display: inline-block;*/
  float: left;
}

.time_picker_header{
  display: flex;
  justify-content: space-between;
}

#time_check{
  float: left;
  margin: 24px 0px 0px 4px;
}

#time_check_text{
  float: left;
  margin: 20px 0px 0px 4px;
}

/*******************DROPDOWN************************/

.time_picker_dropdown{
  margin: 12px 0px 0px 8px;
  background-color: rgb(65, 65, 65);
  position: relative;
  width: 125px;
  vertical-align: middle;
}

.time_picker_dropdown select{
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(65, 65, 65);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(65, 65, 65);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
